* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

:root {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}
section {
    padding: 1.2rem;
    border-radius: 20px;
    background-color: #4fc08d;
    color: white;
}

input , #signup{
    border-radius: inherit;
    padding:8px;
    margin: 1rem 0rem ;
    border: none;
}

.result {
    background-color: white;
    color: #4fc08d;
    border: 1px solid grey;
    padding: 1.2rem;
    border-radius: inherit;
    margin: 1rem 0rem;
}

button {
    display: block;
    padding: 8px 3rem;
    border-radius: 20px;
    border: none;
    background-color: rgb(247, 18, 147);
    color: white;
    font-weight: bold;
    margin: 1rem auto; 
}

p {
    padding: 8px;
    margin: 1rem 0rem;
    background-color: white;
    color: #4fc08d;
    font-weight: bold;
    border-radius: 10px;
}